<mat-card mat-ripple class="card-content">
    <mat-card-content>
        <form id="edit-form" #form="ngForm" novalidate>
            <mat-form-field class="input-field">
                <mat-label>Note Title</mat-label>
                <input matInput [(ngModel)]="note.title" name="title" #title="ngModel" type="text" minlength="3"
                    required>
            </mat-form-field>
            <div *ngIf="title.touched">
                <div *ngIf="title.errors?.['required']" class="error">
                    Note Title is required
                </div>
                <div *ngIf="title.errors?.['minlength']" class="error">
                    Note Title minimum length is 3
                </div>
            </div>
            <mat-form-field class="input-field">
                <mat-label>Note Content</mat-label>
                <textarea matInput [(ngModel)]="note.content" name="content" #content="ngModel" type="text" rows="5" minlength="10" required></textarea>
            </mat-form-field>
            <div *ngIf="content.touched">
                <div *ngIf="content.errors?.['required']" class="error">
                    Note Content is required
                </div>
                <div *ngIf="content.errors?.['minlength']" class="error">
                    Note Content should have a minimum of 10 characters
                </div>
            </div>
            <div class="buttons">
                <button color="primary" mat-raised-button (click)="editNote();openSnackBar1(message.value, action.value)" [disabled]="form.invalid">
                    Save Changes
                </button>
                <button color="accent" mat-raised-button (click)="deleteNote();openSnackBar2(display.value, command.value)" [disabled]="form.invalid">
                    Delete
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<div id="snackBar-1">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput value="Changes Saved" #message>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Action</mat-label>
        <input matInput value="OK" #action>
    </mat-form-field>
</div>
<div id="snackBar-2">
    <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput value="Note Deleted" #display>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Action</mat-label>
        <input matInput value="OK" #command>
    </mat-form-field>
</div>