mat-toolbar{
    display: flex;
    justify-content: space-between;
    animation: slideIn 1s 1;
}

.icon {
    margin-right: 1rem;
    cursor: pointer;
    animation: slideIn 1s 1;
}

@keyframes slideIn {
    from {transform: translatey(-100%);}
    to {transform: translateX(0);}
}
