/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../src/assets/scott-gummerson-FGWpR-O9QlQ-unsplash.jpg');
    background-size: cover;
    animation: fadeIn 2s 1;
    background-position: 100% 44%;
    overflow-x: hidden;
    position: relative;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        background-position: 50% 22%;
    }

    to {
        opacity: 1;
        background-position: 100% 44%;
    }
}